
* {
    font-family: 'Headland One', serif;
}
*, h1, h2, h3 {
    margin: 0;
}
html {
    height: 100%;
}
body {
    display: grid;
    height: 100%;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
}

/*picture and icon size*/
picture img,
div.pictures img {
    width: 100%;
}
div.icons a img {
    width: 3em;
}
/*background and text colors*/
header,
div#reservation,
footer {
    background-color: #E6A71C;
}

/*header*/
header {
    display: grid;
    text-align: center;
}
div.site-title {
    padding: 1em 1em 0;
}
div.navbutton {
    text-align: end;
}
div.navbutton button {
    border: none;
    background-color: transparent;
    font-size: 2.2em;
    padding: 0 0.5em;
}
/*hidden on small*/
div.temple-icon,
div.temple-icon2 {
    display: none;
}
nav.hide {
    display: none;
}
nav#menu ul {
    display: grid;
    padding: 1em;
    margin: 0 0 0 50%;
    text-align: right;
    grid-gap: 1em;
    background-color: #E6A71C;
    box-shadow: 5px 5px 10px #6D5B2D;
    position: absolute;
    z-index: 1;
}
ul li {
    list-style-type: none;
}
nav#menu ul li a {
    text-decoration: none;
    padding: .5em;
    display: block;
    width: 120px;
}
nav#menu ul li a.selected {
    background-color: #FFFFFF;
}
nav#menu ul li a:active {
    background-color: #8492AC;
    color: #000000;
}
/*home article*/
main h2,
div#mesa h2,
div#mesa h3,
article.activities h2 {
    text-align: center;
    padding: .5em;
    color: #6D5B2D;
}
div#mesa p,
article p {
    padding: 1em;
}
div#reservation {
    display: grid;
    grid-template-columns: 1fr .5fr;
    align-items: center;
    padding: 1em;
}
div#reserve-button {
    background-color: #8492AC;
    border-radius: 1em;
    padding: .5em 1em;
    box-shadow: 5px 5px 5px #6D5B2D;
    text-align: center;
}
ol {
    padding: 0 1em 1em 2em;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s; 
}  
@keyframes fade {
    from {opacity: .3} 
    to {opacity: 1}
}

/*temple page*/
/*.temple-info1 {
    display: grid;
}*/
.temple-info2,
.temple-info3,
.temple-info4 {
    display: none;
}
.hide-tucson {
    display: none;
}
.hide-phoenix {
    display: none;
}
.hide-gilbert {
    display: none;
}
.hide-gila {
    display: none;
}
.show-temple {
    display: grid;
}
div.temple-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div.temple-image picture {
    grid-area: 1 / 1 / 3 / 3;
}
div.temple-text button,
div.click-right1 button,
div.click-right2 button,
div.click-right3 button,
div.click-right4 button,
div.click-left1 button,
div.click-left2 button,
div.click-left3 button,
div.click-left4 button {
    border: none;
    width: 100%;
    background-color: #8492AC;
    padding: .5em;
    margin: -4px 0 0 0;
    height: 50px;
}
div.temple-text button {
    box-shadow: 5px 5px 5px #6D5B2D;
}
div.services-grid {
    padding: 1em 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;  
    justify-items: center;      
}
div.temple-text,
div.services {
    padding: 1em;
}
div.temple-text h2 {
    text-align: center;
}
div.temple-text h2,
div.temple-text h3,
div.temple-text h4,
div.services h2,
div.services h3 {
    padding: 1em 0;
    color: #6D5B2D;
}
div.services ul li {
    list-style-type: square;
}
div.service-pictures img {
    max-width: 100%;
}
div.address {
    display: grid;
    padding: 1em;
    grid-gap: 1em;
    border: 4px solid #6D5B2D;
    background-color: #E1B88B;
    margin: 1em;
}
div.map-left button,
div.map-right button {
    border: none;
    width: 100%;
    background-color: #8492AC;
    padding: .5em;
}
div.contact form,
div.contact iframe,
div.address {
    grid-area: 1 / 1 / 3 / 3;
}
div.contact div.book {
    grid-area: 3 / 1 / 4 / 3;
}

/*reservation form*/
main form fieldset {
    display: flex;
}
main h2 {
    text-align: center;
    padding: 1em 0 0 0;
}
form fieldset {
    background-color: #E1B88B;
    border: 10px solid #6D5B2D;
    margin: 1em 0;
}
fieldset legend {
    background-color: #FFFFFF;
    border:5px solid #8492AC;
    color: #6D5B2D;
    text-align: center;
    padding: 1em;
}
fieldset > div,
fieldset > label {
    padding: .5em;
}
label span {
    color: #8492AC;
}

div.contact form input,
fieldset.box input {
    height: 2em;
    font-size: 1.2em;
    width: 100%;
}
div.contact form input:required:valid,
fieldset.box input:required:valid {
    color: #8492AC;
}
fieldset.bullet input {
    height: unset;
    width: unset;
}
fieldset.textbox label {
    display: flex;
    flex-direction: column;
}
div.contact label textarea,
fieldset.textbox textarea {
    height: 5em;
}
div.contact div.book,
form div.book {
    padding: 1em 10%;
}
div.contact div.book input,
form div.book input{
    border: none;
    width: 100%;
    background-color: #8492AC;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 5px 5px 5px #6D5B2D;
}
div.contact iframe {
    padding: 1em 0;
    width: 90%;
    margin: 0 auto;
}
div.contact div#comments label {
    display: grid;
}


/*carousel box*/
div.carousel-text {
    background-color: #8492AC;
    text-align: center;
    border-radius: 1em;
    padding: .5em;
}
div.carousel {
    background-color: #E1B88B;
}
div.right button,
div.left button {
    border: none;
    background-color: #8492AC;
    width: 30px;
    height: 30px;
}
div.pictures {
    display: grid;
    grid-template-columns: 30px 3fr 30px;
    grid-template-rows: 2fr 30px 1fr 30px 10px;
    align-items: center;
    justify-items: center;
    max-width: 400px;
    margin: 0 auto -3px;
}
div.picture-grid {
    grid-area: 1 / 1 / 6 / 4;
}
div.carousel-text {
    grid-area: 4 / 2 / 5 / 3;
}
div.left {
    grid-area: 2 / 1 / 3 / 2;
}
div.right {
    grid-area: 2 / 3 / 3 / 4;
}

div.thanks {
    display: grid;
    padding: 1em;
    grid-gap: 1em;
}

footer {
    display: grid;
    text-align: center;
    padding: 1em;
    grid-gap: 1em;
}


